version: "3.9"

services:
  mongo:
    image: mongo:latest
    container_name: mongo_container
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  backend:
    build: ./backend
    container_name: backend_container
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    volumes:
      - ./backend:/app:cached
    environment:
      - MONGO_URL=mongodb://mongo:27017/blog
    command: npx nodemon --legacy-watch server.js

  frontend:
    build: ./frontend
    container_name: frontend_container
    ports:
      - "5173:5173"
    depends_on:
      - backend
    stdin_open: true
    tty: true
    volumes:
      - ./frontend:/app:cached
    command: npm run dev -- --host --force

volumes:
  mongo_data:
